# Server
HOST=localhost
PORT=3000

# Database
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=openjob
PGHOST=localhost
PGPORT=5432

# JWT
ACCESS_TOKEN_KEY=your_access_token_secret_key_here
REFRESH_TOKEN_KEY=your_refresh_token_secret_key_here
